<div class="row">
	<div class="col-md-12">
		<div class="card comment-card text-white bg-primary mb-3">
			<div class="card-body">
				<h6>Enter a comment (500 chars max):</h6>
				<form id="commentForm-{{this.id}}" data-post-id="{{this.id}}" class="comment-form">
					<div id="commentBody-{{this.id}}"></div>
					<div class="row">
						<div class="col-md-10">
							<p id="commentRequired-{{this.id}}" class="red d-none">You need to write a comment.</p>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-secondary btn-comment-submit float-right">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>