<h1 class="text-center">Project 144</h1>
<p class="text-center">Somebody write some cool text for the homepage quick!</p>
<div class="row">        
	<div class="col-md-5">
		<form id="signupForm">
			<fieldset>
				<legend>Sign Up for Project 144</legend>
				<div id="fgSignupEmail" class="form-group">
					<label for="signupEmail">Email address</label>
					<input required type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp" placeholder="Enter email">
					<div id="badSignupEmail" class="invalid-feedback">That email address is already being used.</div>
				</div>
				<div id="fgSignupUsername" class="form-group">
					<label for="signupUsername">Desired Username</label>
					<input required type="text" class="form-control" id="signupUsername" aria-describedby="username" placeholder="Username">
					<div id="badSignupUsername" class="invalid-feedback"></div>
				</div>
				<div id="fgSignupPassword" class="form-group">
					<label class="form-control-label" for="signupPassword">Password</label>
					<input required type="password" class="form-control" id="signupPassword" placeholder="Password">
					<div id="badSignupPassword" class="invalid-feedback">Your password must be 8-16 characters in length.</div>
				</div>
				<button type="submit" class="btn btn-primary">Sign Up</button>
			</fieldset>
		</form>
	</div>
	<div class="col-md-5 offset-md-2">
		<form id="loginForm">
			<fieldset>
				<legend>Log In</legend>
				<div id="fgLoginUserEmail" class="form-group">
					<label for="loginUserEmail">Email Address or Username</label>
					<input required type="text" class="form-control" id="loginUser" aria-describedby="username" placeholder="Enter your email or username">
					<div id="badLoginUser" class="invalid-feedback">Invalid username.</div>
				</div>
				<div id="fgLoginPassword" class="form-group">
					<label class="form-control-label" for="LoginPassword">Password</label>
					<input required type="password" class="form-control" id="loginPassword" placeholder="Enter your password">
					<div id="badLoginPassword" class="invalid-feedback">Invalid password.</div>
				</div>
				<button type="submit" class="btn btn-primary">Log In</button>
			</fieldset>
			<br>
			<p><a href="/forgot">Help, I forgot my password!</a></p>
		</form>
	</div>
</div>