<h1 class="text-center">Project 144</h1>
<p class="text-center">Somebody write some cool text for the homepage quick!</p>
<div class="row">        
	<div class="col-md-5">
		<form id="signupForm">
			<fieldset>
				<legend>Sign Up for Project 144</legend>
				<div class="form-group">
				<label for="signupEmail">Email address</label>
				<input required type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp" placeholder="Enter email">
				</div>
				<div class="form-group">
				<label for="signupUsername">Desired Username</label>
				<input required type="email" class="form-control" id="signupUsername" aria-describedby="username" placeholder="UserName">
				</div>
				<div class="form-group">
				<label for="signupPassword">Password</label>
				<input required type="password" class="form-control" id="signupPassword" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary">Sign Up</button>
			</fieldset>
		</form>
	</div>
	<div class="col-md-5 offset-md-2">
		<form id="loginForm">
		<fieldset>
			<legend>Log In</legend>
				<div class="form-group">
				<label for="loginEmail">Email Address or Username</label>
				<input required type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Enter username or email">
				</div>
				<div class="form-group">
				<label for="loginPasword">Password</label>
				<input required type="password" class="form-control" id="loginPasword" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary">Log In</button>
		</fieldset>
		</form>
	</div>
</div>