nav {
	margin-bottom: 40px;
}

.main {
	height: 100%;
}
/* body {
	background: white }
section {
	background: black;
	color: white;
	border-radius: 1em;
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) }

	.main-container {
	top: 90%;
	bottom:40%;
	position: absolute;
	left:48%;
	padding: 2em;
	}

	.login-secton {
	top: 10%;
	bottom:10%;
	position: absolute;
	left:50%;
	}

	.text-primary {
	padding: 10px;
	}

	.progress-bar {
	top-margin:30px;
} */
