body {
	font-size: 16px !important;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

.homepage-container {
	background-color: #f1f1f1;
	padding: 20px;
}

.intro {
	color: #000;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 64px;
}

nav {
	margin-bottom: 40px;
}

.site-content h4 {
	line-height: 1.5;
}

.site-content a {
	text-decoration: underline;
}

/* ALBUM COLLECTION / ALBUM SEARCH STYLES */
.album-container {
	position: relative;
}

.album-image {
	display: block;
	width: 100%;
	height: auto;
}

.album-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000000;
}

.album-container:hover .album-overlay {
	opacity: 1;
}

.album-overlay-text {
	color: white;
	position: absolute;
	padding: 20px;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.album-overlay-text a {
	color: #fff;
}

.white {
	color: #fff;
}

.add-album {
	text-decoration: underline !important;
	cursor: pointer;
}

.profile-title {
	margin: 0 !important;
}

.edit-post {
	color: #fff !important;
}

a.btn.btn-primary,
a.album-username {
	text-decoration: none;
}

.post-profile-image {
	margin-bottom: 10px;
}

.no-nav {
	margin-top: 50px;
}

.navbar {
	padding: 0 10px;
}
.navbar-brand {
	font-size: 36px;
	font-family: 'Abril Fatface', cursive;
}

#postBody {
	height: 200px;
}

.message-remaining {
    margin-top: 5px;
}

.delete-section {
	padding-top: 30px;
}

.red {
	color: #f00;
}

footer {
	background-color: #000;
	color: #fff;
	font-size: 14px;
	margin-top: 20px;
	padding: 10px 0;
	text-align: center;
}
/* JQUERY COMBOBOX STUFF */
.custom-combobox {
    position: relative;
	display: inline-block;
	width: 100%;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
	padding: 5px 10px;
	width: 94% !important;
}
/* THEME OVERRIDES */
.tabbable {
    margin-top: 30px;
    overflow: hidden;
}

.nav-tabs {
    margin: 0;
}

.nav-item {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

.nav-item a {
	text-decoration: none !important;
}

.tab-content {
    padding-top: 30px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.hover .nav-tabs .nav-item.show .nav-link {
    border-color: #000000;
    border-bottom-color: transparent;
}
.nav-tabs {
	border-color: #000000;
    border-bottom: 1px solid #000000;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color:#cccccc;
    border-bottom-color: transparent;
}

.nav-tabs > li > a:hover{
	background-color: #cccccc !important;
	border: 1px solid #000000;
	color:#000;
} 